ioPaths:
  -
    - "gui\*.ui"
    - "generated/%%FILENAME%%_ui.py"
  -
    - "gui\resources\*.qrc"
    - "generated\%%FILENAME_%%%%EXT%%.py"
  -
    - "modules\*\*.ui"
    - "%%DIRNAME%%\generated\%%FILENAME%%_ui.py"
  -
    - "modules\*\resources\*.qrc"
    - "%%DIRNAME%%ßgenerated\%%FILENAME%%_rc.py"

uic_options: --from-imports
init_package: True
force: False